.sideBarLogo {
  width: 120px;
  height: 31px;
  margin: 16px 28px 16px 0;
  float: left;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://bs-blog.github.io/be/static/YN2-200w.png);
}

@media screen  and (max-width: 600px)  {
  .sideBarLogo {
    display: none;
  }
  .nav-text{
    font-size: 12px;
  }
}